
/* input CSS*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

.form-group {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
textarea{
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid rgb(12, 12, 12);
}
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid rgb(12, 12, 12);
}

.form input[type='submit'] {
  font: inherit;
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
/*----------------------Footer---------------------------------*/
.footer-dark {
  /* border: solid red; */
  padding:50px 0;
  color:white;
  background: black
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
  color: #e8e8f1;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  /* line-height:1.6; */
  font-size:14px;
  margin: bottom 12px;
}

.footer-dark ul a {
  color:white;
  text-decoration:none;
  opacity:0.9;
}
.footer-dark ul li{
  color: white;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.9;
  font-size:13px;
  margin-bottom:0;
}

/*****Card profile **************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.cardBodydy {
  font-family: "Poppins", sans-serif;
  background: #0e0e0e;
}
.flip-container {
  width: 280px;
  height: 380px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  perspective: 1000px;
  margin: 100px auto;
}

.flip-inner-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.flip-container:hover .flip-inner-container {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}
.flip-front {
  background: white;
  padding: 2px;
}

.flip-front img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.flip-back {
  width: 280px;
  height: 380px;
  background: white;
  transform: rotateY(180deg);
}

.flip-back .profile-image img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 4px solid #f2f270;
  margin-top: 20px;
}

.flip-back p {
  font-size: 13px;
  font-weight: 500;
}

.flip-back ul {
  display: flex;
  margin: 20px 20px;
}

.flip-back ul i {
  display: block;
  height: 40px;
  width: 40px;
  color: rgb(237, 158, 158);
  text-align: center;
  margin: 0 7px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: #e8e8f1;
  transform: all 0.6s;
}
.flip-back ul a:hover {
  color: #d343d3;
  border-color: #171617;
  background: linear-gradient(375deg, transparent, transparent);
}


